*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 5500px;
    width: 100%;
    background-color:#FDF5E8;
    font-family: sans-serif;
}
.s1{
    text-align: center;
    margin-top: 160px;
  
}
.s1 h1{
   font-size: 60px;
}
.s1 p{
    margin-top: 20px;
}
.s2{
    text-align: center;
    margin-top: 90px;
    
}
.s2 img{
    border-radius: 40px;
}
.s3{
    margin-top:180px;
    margin-left: 100px;

}
.s3 h1{
    font-size: 60px;
    margin-top: 20px;
 }
 .s3 p{
    margin-top: 15px;
 }
 .s4 {
    margin-top: 40px;
 }
 .s4 p{
    margin-left: 30px;
    margin-top: -20px;

 }
 .s5{
    display: flex;
    margin-top:180px;
    margin-left: 100px;
 }
 .s5 img{
    border-radius: 20px;
 }
 .sisi{
    display: flex;
    padding: 40px;
    align-items: end;
 }
 .c1{
    margin-top: 150px; 
   
 }
 .c2{
    margin-top: 150px; 
    margin-left: 90px;
   
 }
 .c3{
    margin-top: 150px; 
    margin-left: 120px;
   
 }
 .c4{
    margin-top: 150px; 
    margin-left: 100px;


   
 }
 .c1 p{
    font-size: 130px;
    color: orange;

 }
 .c1 h3{
   
    margin-top: -95px;
    margin-left: 35px;
    font-size: 30px;

 }
 .c2 p{
    font-size: 130px;
    color: orange;

 }
 .c2 h3{
   
    margin-top: -95px;
    margin-left: 65px;
    font-size: 30px;

 }
 .c3 p{
    font-size: 130px;
    color: orange;

 }
 .c3 h3{
   
    margin-top: -95px;
    margin-left: 35px;
    font-size: 30px;

 }
 .c4 p{
    font-size: 130px;
    color: orange;

 }
 .c4 h3{
   
    margin-top: -95px;
    margin-left: 0px;
    font-size: 30px;


 }
.numbers{
    display: flex;
}
.ourhistory{
    margin-top: 150px;
    text-align: center;
}
.ourhistory h1{
    margin-top: 20px;
    font-size: 50px;
}
.ourhistory p{
    margin-top: 20px;
}
.video{
    height: 500px;
    width: 100%;
    background-color: white;
}
.leadership{
    text-align: center;
    margin-top: 50px;
}
.leadership h1{
    margin-top: 20px;
    font-size: 50px;
}
.leadership p{
    margin-top: 20px;
}
.employee{
    margin-top: 80px;
    display: flex;
    padding-left: 30px;
    padding: 30px;
    justify-content: space-between;

}
.employe1{
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-image: url(images/employee1);
}
.employe2 {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-image: url(images/employee2);

}
.employe3 {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    background-image: url(images/employee3) ;
}

.employe1 button{
    margin-top: 350px;
    margin-left: 200px;
    background-color: orange;
    border-radius: 10px;
    border: 0;
    height: 25px;
    width: 100px;
   
}
.employe2 button{
    margin-top: 350px;
    margin-left: 160px;
    width: 140px;
    height: 30px;
    background-color: rgb(5, 5, 231) ;
    border-radius: 10px;
    color: white;
    border: 0;
   
}
.employe3 button{
    margin-top: 350px;
    margin-left: 220px;
    height: 30px;
    background-color: rgb(9, 9, 235);
    border-radius: 10px;
    color: white;
    border: 0;
    width: 80px;
   
   
}
.links{
    padding: 20px;
    margin-top: 30px;
}
.names{
    display: flex;
    padding-left: 30px;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 30px;

}
.name1 p{
    margin-top: 20px;
}
.name1{
    height: 300px;
    width: 300px;
    /* background-color: aqua; */
    text-align: center;
}
.name2{
    height: 300px;
    width: 300px;
    /* background-color: rgb(212, 228, 228); */
    text-align: center;
}
.name3{
    height: 300px;
    width: 300px;
    /* background-color: aqua; */
    text-align: center;
}
.links a{
    border: solid;
    padding: 10px 10px;
    border-color: black;
}
.links a:hover{
    background-color: gray;
}
.people{
    height: 800px;
    width: 100%;
    background-color: blanchedalmond;
  
}
.p1 h1{
padding-top: 100px;
text-align: center;
}
.developer1{
    height: 400px;
    width: 350px;
    background-color: rgb(185, 106, 185);
    margin-top: 80px;
    border-radius: 20px;
}
.developer2{
    height: 400px;
    width: 350px;
    background-color: rgb(184, 150, 150);
    margin-top: 80px;
    border-radius: 20px;
}
.developer3{
    height: 400px;
    width: 350px;
    background-color: rgb(185, 106, 185);
    margin-top: 80px;
    border-radius: 20px;
}
.dd1{
    display: flex;
}
.d1 img{
    padding: 10px 10px;
    
}
.d2{
    margin-top: 20px;
    margin-left: 20px;
}
.d2 button{
    margin-top: 10px;
    border-radius: 10px;
    width:90px;
    background-color: orange;
    border: 0;
    height: 30px;
}
.d11 img{
    border-radius: 10px;
}
.matter1{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
}
.matter1 p{
    padding-top: 35px;
}


 
.d12 img{
    padding: 10px 10px;
    
}
.d23{
    margin-top: 20px;
    margin-left: 20px;
}
.d23 button{
    margin-top: 10px;
    border-radius: 10px;
    width:90px;
    background-color: orange;
    border: 0;
    height: 30px;
}
.matter3{
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
}
.matter2 p{
    padding-top: 35px;
}
.dd3{
    display: flex;
}
.dd2{
    display: flex;
}
.matter2{
    height: 200px;
    width: 300px;
    background-color: white;
    margin-top: 35px;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
}
.d11 img{
    padding: 10px 10px;
    
}
.d22{
    margin-top: 20px;
    margin-left: 20px;
}
.d22 button{
    margin-top: 10px;
    border-radius: 10px;
    width:90px;
    background-color: orange;
    border: 0;
    height: 30px;
}
.matter3 p{
    padding-top: 35px;
}

.developers{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.ready{
    height: 410px;
    width: 1100px;
    background-color: skyblue;
    margin-top: 150px;
    margin-left: 100px;
    border-radius: 50px;
}
 
 .sunny{
    margin-top: 150px;
    padding-top: 100px;
    margin-left: 50px;
 }
 .sunny img{
    margin-left: 550px;
    margin-top: -331px;
    border-radius: 50px;
 }
 .sunny h1{
    margin-top: 20px;
 }
 .sunny p{
    margin-top: 20px;
 }
 .sunny button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(35, 4, 71);
    color: white;
 }
 .icons{
    text-align: center;
    margin-top: 80px;
    font-size: 40px; 
    cursor: pointer;
    
 }
 .blue{
    margin-top: 120px;
    height:500px;
    width: 100%;
    background-color:rgb(30, 30, 88);
    display: flex;
    column-gap: 110px;
    padding-left: 30px;
    padding-top: 20px;
}
.blue h1{
    color: white;
}
.blue p{
    color: white;
}
.blue input{
    padding: 20px 20px;
    width: 300px;
    border-radius: 20px;
    background-color:rgb(235, 235, 243);
    border-color: white;
}
.blue a{
    border: 1px solid;
    padding: 10px 10px;
    border-color: rgb(58, 52, 145);
    border-radius: 10px;
    background-color: white;
}
.link{
    display: flex;
    column-gap: 60px;
    margin-top: 30px;
}
.link :hover{
    background-color: rgb(104, 104, 158);
}
.center{
    text-align: center;
    color: white;
    margin-top:-250px;
}




.logo{
    display: flex;
  }
  img{
    width:40px;
    height: 40px;
    border-radius: 50%;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    border-bottom:1px solid blue;
  }
  header ul li{
     display: inline-block;
     list-style:none ;
     margin: 0 30px;
  }
  header ul li:last-child{
    margin-right: 0;
  }
  header ul li a{
    text-decoration: none;
    color: green;
    padding:22px 0;
    display: inline-block;
    transition:all ease 0.3s;
    font-size: 18px;
  }
  header ul li a:hover {
    color:orange;
  }
  header ul .submenu {
    position: absolute;
    width:200px;
    background-color: #fff;
    box-shadow: 0 20px 45px black;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition:all ease 0.5s;
  }
  header ul li:hover .submenu{
    z-index:99;
    opacity: 1;
    margin-top: 0;
  }
  header ul .submenu li{
    margin: 0;
    width:100%;
  
  }
  header ul .submenu li a{
    padding:15px 20px;
    display: inline-block;
    width:100%;
  }
  .icon{
    width:30px;
    height:30px;
  }
  button{
    border-radius: 50px;
    width:150px;
    height: 40px;
    border: none;
    background-color: blue;
    font-size: 20px;
    margin-left: 10px;
  }
  .anchor{
    text-decoration: none;
    color:white;
  }
  header{
    background-color: aliceblue;
  }
  
  
  
  
  
  .popup{
    width:400px;
    height: 200px;
    border-radius: 20px;
    background-color: pink;
    margin-left: 400px;
    display: none;
  }
  .pop-para{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
  }
  .btn{
    width:20px;
    height: 20px;
    margin-left: 360px;
  }
  
  