*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 2500px;
    width: 100%;
    background-color:#FDF5E8;
    font-family: sans-serif;
}
.head{
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}
.news{
    margin-top: 150px;
    display: flex;
    padding: 0 45px;
    justify-content: space-between;
}
.news1{
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
    
}
.news2{
    height: 500px;
    width: 400px;
    /* background-color: rgb(15, 17, 141); */
}
.news3{
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
}
.news1 h2{
    margin-top: 10px;
    cursor: pointer;
}
.news1 p{
    margin-top: 15px;
}
.news1 h4{
    margin-top: 30px;
    cursor: pointer;
}
.news1 img{
    border-radius: 15px;
}
.news2 h2{
    margin-top: 10px;
    cursor: pointer;
}
.news2 p{
    margin-top: 15px;
}
.news2 h4{
    margin-top: 30px;
    cursor: pointer;
}
.news2 img{
    border-radius: 15px;
}
.news3 h2{
    margin-top: 10px;
    cursor: pointer;
}
.news3 p{
    margin-top: 15px;
}
.news3 h4{
    margin-top: 30px;
    cursor: pointer;
}
.news3 img{
    border-radius: 15px;
}

.blogs{
    margin-top: 40px;

}
.blog1{
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
    
}
.blog2{
    height: 500px;
    width: 400px;
    /* background-color: rgb(15, 17, 141); */
}
.blog3{
    height: 500px;
    width: 400px;
    /* background-color: aquamarine; */
}
.blog1 h2{
    margin-top: 10px;
    cursor: pointer;
}
.blog1 p{
    margin-top: 15px;
}
.blog1 h4{
    margin-top: 30px;
    cursor: pointer;
}
.blog1 img{
    border-radius: 15px;
}
.blog2 h2{
    margin-top: 10px;
    cursor: pointer;
}
.blog2 p{
    margin-top: 15px;
}
.blog2 h4{
    margin-top: 30px;
    cursor: pointer;
}
.blog2 img{
    border-radius: 15px;
}
.blog3 h2{
    margin-top: 10px;
    cursor: pointer;
}
.blog3 p{
    margin-top: 15px;
}
.blog3 h4{
    margin-top: 30px;
    cursor: pointer;
}
.blog3 img{
    border-radius: 15px;
}

.blogs{
    margin-top: 40px;
    display: flex;
    padding: 0 45px;
    justify-content: space-between;

}
.ready{
    height: 410px;
    width: 1100px;
    background-color: skyblue;
    margin-top: 150px;
    margin-left: 100px;
    border-radius: 50px;
}
 
 .sunny{
    margin-top: 150px;
    padding-top: 100px;
    margin-left: 50px;
 }
 .sunny img{
    margin-left: 550px;
    margin-top: -331px;
    border-radius: 50px;
 }
 .sunny h1{
    margin-top: 20px;
 }
 .sunny p{
    margin-top: 20px;
 }
 .sunny button{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(35, 4, 71);
    color: white;
 }
 .icons{
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    cursor: pointer;
   
    
 }
 .blue{
    margin-top: 120px;
    height:500px;
    width: 100%;
    background-color:rgb(30, 30, 88);
    display: flex;
    column-gap: 110px;
    padding-left: 30px;
    padding-top: 20px;
}
.blue h1{
    color: white;
}
.blue p{
    color: white;
}
.blue input{
    padding: 20px 20px;
    width: 300px;
    border-radius: 20px;
    background-color:rgb(235, 235, 243);
    border-color: white;
}
.blue a{
    border: 1px solid;
    padding: 10px 10px;
    border-color: rgb(58, 52, 145);
    border-radius: 10px;
    background-color: white;
}
.link{
    display: flex;
    column-gap: 60px;
    margin-top: 30px;
}
.link :hover{
    background-color: rgb(104, 104, 158);
}
.center{
    text-align: center;
    color: white;
    margin-top:-250px;
}